<% provide(:title, 'working') %>
<h1>出勤中社員一覧</h1>

<div class="col-md-10 col-md-offset-1">
   <table class="table table-condensed table-hover" id="table-users">
     <thead>
      <tr>
        <th><%= User.human_attribute_name :employee_number %></th> <!--社員番号-->
        <th><%= User.human_attribute_name :name %></th> <!--名前-->
      </tr>
    </thead>

    <tbody>
      <% if @user_info_list.present? %> <!---->
        <% @user_info_list.each do |user_info| %>
          <tr>
            <td>
              <% if user_info[:employee_number].present? %> <!--この定義でemployee_numberが空ならそのまま表示することになる-->
                <%= user_info[:employee_number] %> <!--社員番号表示-->
              <% end %>
            </td>
            <td><%= user_info[:name] %></td> <!--名前表示-->
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="2">出勤中の社員はいません。</td>
        </tr>
      <% end %>
    </tbody>

   </table>
</div>

